@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.6265 0.2273 356.0776);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9597 0.0037 264.5393);
  --secondary-foreground: oklch(0.1405 0.0044 285.8238);
  --muted: oklch(0.9597 0.0037 264.5393);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.9597 0.0037 264.5393);
  --accent-foreground: oklch(0.1405 0.0044 285.8238);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9278 0.0058 264.5314);
  --input: oklch(0.9278 0.0058 264.5314);
  --ring: oklch(0.6265 0.2273 356.0776);
  --chart-1: oklch(0.6265 0.2273 356.0776);
  --chart-2: oklch(0.6162 0.1825 295.9788);
  --chart-3: oklch(0.8775 0.1639 97.2864);
  --chart-4: oklch(0.7941 0.1406 177.5187);
  --chart-5: oklch(0.7046 0.1507 45.6909);
  --sidebar: oklch(0.9839 0.0015 264.5464);
  --sidebar-foreground: oklch(0.2570 0.0143 285.3525);
  --sidebar-primary: oklch(0.6265 0.2273 356.0776);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6162 0.1825 295.9788);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.9196 0.0064 264.5288);
  --sidebar-ring: oklch(0.6265 0.2273 356.0776);
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.1875rem;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0.05rem;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 3.7% 15.9%);
  --shadow-2xs: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.06);
  --shadow-xs: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.06);
  --shadow-sm: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.12), 0rem 1px 2px -0.95px hsl(240 3.7000% 15.9000% / 0.12);
  --shadow: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.12), 0rem 1px 2px -0.95px hsl(240 3.7000% 15.9000% / 0.12);
  --shadow-md: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.12), 0rem 2px 4px -0.95px hsl(240 3.7000% 15.9000% / 0.12);
  --shadow-lg: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.12), 0rem 4px 6px -0.95px hsl(240 3.7000% 15.9000% / 0.12);
  --shadow-xl: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.12), 0rem 8px 10px -0.95px hsl(240 3.7000% 15.9000% / 0.12);
  --shadow-2xl: 0rem 0.1875rem 0.375rem 0.05rem hsl(240 3.7000% 15.9000% / 0.30);
  --tracking-normal: 0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0.1872 0.0066 285.7475);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0.1872 0.0066 285.7475);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.6265 0.2273 356.0776);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2595 0.0114 285.5805);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.2595 0.0114 285.5805);
  --muted-foreground: oklch(0.7973 0.0089 286.1963);
  --accent: oklch(0.2595 0.0114 285.5805);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.3996 0.1348 25.7682);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3082 0.0145 285.5160);
  --input: oklch(0.3082 0.0145 285.5160);
  --ring: oklch(0.6265 0.2273 356.0776);
  --chart-1: oklch(0.6265 0.2273 356.0776);
  --chart-2: oklch(0.6162 0.1825 295.9788);
  --chart-3: oklch(0.8775 0.1639 97.2864);
  --chart-4: oklch(0.7941 0.1406 177.5187);
  --chart-5: oklch(0.7046 0.1507 45.6909);
  --sidebar: oklch(0.1750 0.0073 285.6191);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.6265 0.2273 356.0776);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6162 0.1825 295.9788);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3550 0.0175 285.4721);
  --sidebar-ring: oklch(0.6265 0.2273 356.0776);
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.375rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.125rem;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(240 3.7% 15.9%);
  --shadow-2xs: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.15);
  --shadow-xs: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.15);
  --shadow-sm: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.30), 0rem 1px 2px -0.875px hsl(240 3.7000% 15.9000% / 0.30);
  --shadow: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.30), 0rem 1px 2px -0.875px hsl(240 3.7000% 15.9000% / 0.30);
  --shadow-md: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.30), 0rem 2px 4px -0.875px hsl(240 3.7000% 15.9000% / 0.30);
  --shadow-lg: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.30), 0rem 4px 6px -0.875px hsl(240 3.7000% 15.9000% / 0.30);
  --shadow-xl: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.30), 0rem 8px 10px -0.875px hsl(240 3.7000% 15.9000% / 0.30);
  --shadow-2xl: 0rem 0.375rem 0.75rem 0.125rem hsl(240 3.7000% 15.9000% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}